/* contact */
.dFlexRow {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: -50px;
}
.dFlexRowChange {
    color: black;
}
.dFlexRow h1,.dFlexRowChange h1 {
    margin-bottom: 30px;
}
.dFlexRow p, .dFlexRowChange p {
    margin-bottom: 20px;
}
.contactForm {
    width:calc(40%);
    height:100%;
    padding: 50px 30px;
    position: relative;
}
.dFlexColumn, .dFlexColumnChange {
    width:100%;
    height:80px;
    display: flex;
    flex-direction: column;
} 
.dFlexColumn label,.dFlexColumnChange label {
    font-size: 18px;
    margin-bottom: 5px;
    cursor: pointer;
}
.dFlexColumn input {
    height:50px;
    font-size: 16px;
    padding:0 15px;
    border-radius: 20px;
    background-color: white;
    color:rgb(49, 31, 31)
}
.dFlexColumnChange input {
    height:50px;
    font-size: 16px;
    padding:0 15px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.841);
    color:rgb(238, 238, 238)
}
.textArea, .textAreaChange {
    min-height: 100px;
    border-radius: 20px;

}
.textArea textarea {
    background-color: rgba(0, 0, 0, 0.841);
    color:rgb(238, 238, 238);
}
.textAreaChange textarea {
    background-color: rgb(238, 238, 238);
    color:rgba(0, 0, 0, 0.841);
}
.contactInfo {
    width:calc(60%);
    height:100%;
}
.btn {
    width:120px;
    height:40px;
    border-radius: 10px;
    background-color: black;
    color:white;
    border:0;
}
.btn:active, .btn:focus {
    transform: scale(0.97);
    transition: 0.3s;
}
.btnChange {
    width:120px;
    height:40px;
    border-radius: 10px;
    background-color: whitesmoke;
    color:black;
}
.btnChange:active, .btnChange:focus {
    transform: scale(0.97);
    transition: 0.3s;
}
.btnSubmit {
    margin-top:50px;
}
/* warning-sucess */
.warning1 {
    width:20px;
    height:20px;
    filter: invert(16%) sepia(90%) saturate(5062%) hue-rotate(357deg) brightness(97%) contrast(121%);
}
.warning1, .success1 {
    position: absolute;
    top:217px;
    right:40px;
    cursor: pointer;
}
.success1 {
    width:20px;
    height:20px;
    filter: invert(14%) sepia(68%) saturate(7459%) hue-rotate(8deg) brightness(90%) contrast(120%);
}
.warning2 {
    width:20px;
    height:20px;
    filter: invert(16%) sepia(90%) saturate(5062%) hue-rotate(357deg) brightness(97%) contrast(121%);
}
.warning2, .success2 {
    position: absolute;
    top:calc(210px + 87px);
    right:40px;
    cursor: pointer;
}
.success2 {
    width:20px;
    height:20px;
    filter: invert(14%) sepia(68%) saturate(7459%) hue-rotate(8deg) brightness(90%) contrast(120%);
}
.warning3 {
    width:20px;
    height:20px;
    filter: invert(16%) sepia(90%) saturate(5062%) hue-rotate(357deg) brightness(97%) contrast(121%);
}
.warning3, .success3 {
    position: absolute;
    top:calc(210px + 70px + 92px);
    right:40px;
    cursor: pointer;
}
.success3 {
    width:20px;
    height:20px;
    filter: invert(14%) sepia(68%) saturate(7459%) hue-rotate(8deg) brightness(90%) contrast(120%);
}
/* warning-sucess */
.getInTouchImg {
    width:50%;
    height:100%;
    position: absolute;
    background-color: transparent;
    right:20px;
    top:50px;
    z-index: 1;
}
.checkPost {
   
    width:100%;
    height:80px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 30px;
    background-color:rgb(243, 239, 235);
    border: 1px solid rgba(0, 0, 0, 0.427);
    color:black;
}
.cII {
    margin-top: 50px;
}
.cII ul li {
    margin-left:-13px;
}
.checkPostChange { 
    background-color:rgba(0, 0, 0, 0.427);
    border: 1px solid rgb(243, 239, 235);
    color:white;
}
h6 a {
    color: rgb(18, 100, 253);
    text-decoration: none;
}
h6 a:hover {
    text-decoration: underline;
}
/* contact */
/* confidential agreement */
.fullAccordionContainerWhite {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
.fullAccordionContainerBlack {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    
}
.accordionContainer {
    width:1200px;
    height:600px;
    border-radius: 30px;
    background-image: url("../../images/black1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
    padding: 10px 20px;
}
.accordionContainerChange {
    background-image: url("../../images/white.jpg");
    width:1200px;
    height:600px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
    padding: 10px 20px;
}
.accordionCard {
    width:100%;
    height:125px;
}
.headLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
}
.bodyLine {
    margin-top:-10px;
    padding: 0 10px;
}
.accordionArrow {
    width:20px;
    height:20px;
    cursor: pointer;
    filter: invert(100%) sepia(8%) saturate(7467%) hue-rotate(298deg) brightness(108%) contrast(94%);
}
.accordionArrowChange {
    width:20px;
    height:20px;
    cursor: pointer;
    transform: rotate(180deg);
    filter: invert(100%) sepia(8%) saturate(7467%) hue-rotate(298deg) brightness(108%) contrast(94%);
}
.accordionArrowL {
    width:20px;
    height:20px;
    cursor: pointer;
    filter: invert(0%) sepia(2%) saturate(21%) hue-rotate(286deg) brightness(101%) contrast(100%);
}
.accordionArrowChangeL {
    width:20px;
    height:20px;
    cursor: pointer;
    transform: rotate(180deg);
    filter: invert(0%) sepia(2%) saturate(21%) hue-rotate(286deg) brightness(101%) contrast(100%);
}

/* confidential agreement */

/* home */
.homeContainer {
    width:100%;
    height:100%;
    overflow-x: hidden;
}
.cardContainer {
    width:80%;
}
.cardBgcWhite {
    background-color: whitesmoke;
    border:1px solid rgba(0, 0, 0, 0.504);
    border-top: 0px;
}
.cardBgcBlack {
    background-color: rgb(4, 4, 4);
    border:1px solid rgba(0, 0, 0, 0.504);
    border-top: 0px;
    color:white;
}
.cardTitleWhite {
    color:black
}
.cardTitleBlack {
    color:white;
}
/* home */