@font-face {
    font-family: light;
    src: url(../fonts/OpenSans-Regular.ttf);
}
/* header */
.headerContainer {
    width:calc(100% - 60px);
    height:50px;
    background-color: #040404;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:0 30px 0 30px;
}
.logo {
    width:40px;
    height:40px;
}

.nav {
    padding-left: 20px;
}
.headerContainer a {
    text-decoration: none;
    font-size: 16px;
}
.btn {
    background-color:#040404;
    border:0;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    text-decoration: underline;
}
.headerContainer a:hover{
    text-decoration:underline;
}

/* login / register*/
    /* login */
.loginContainer {
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.719);
}
.formL {
    width:450px;
    height:550px;
    background-color: rgb(18, 19, 19);
    border: 1px solid black;
    border-radius: 20px;
    padding:0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.AuthenticationImg, .registerImg{
    width:300px;
    height:300px;
    margin-top:-50px;
}
.dFlexRow {
    width:100%;
    height:80px;
    display: flex;
    flex-direction: column;
}
.dFlexRow label {
    margin-bottom: 5px;
    font-size: 16px;
}
.dFlexRow input,.ageContainer select {
    width:100%;
    height:40px;
    color:black;
    font-family: light;
    padding:0 10px;
    border: 1px solid black;
}
.dFlexRow input::placeholder {
    font-size: 12px;
}
.btnLogin {
    width:120px;
    height:40px;
    border-radius: 10px;
}
.btnLogin:active {
    transform: scale(0.95);
    transition: transform 0.3s;
}
.closeImg {
    width:25px;
    height:25px;
    filter: invert(98%) sepia(60%) saturate(2%) hue-rotate(267deg) brightness(108%) contrast(100%);
    position: absolute;
    top:5px;
    right:5px;
    cursor: pointer;
    
}
.closeImg:hover {
    box-shadow: 0px 0px 5px rgba(254, 254, 254, 0.5);
}
.warningSuccesEU {
    width:20px;
    height:20px;
    filter: invert(14%) sepia(68%) saturate(7459%) hue-rotate(8deg) brightness(90%) contrast(120%);
    position: absolute;
    top: calc(280px + 30px + 15px + 10px);
    right:30px;
    cursor: pointer;
}
.warningSuccesEP {
    width:20px;
    height:20px;
    filter: invert(14%) sepia(68%) saturate(7459%) hue-rotate(8deg) brightness(90%) contrast(120%);
    position: absolute;
    top: calc(280px + 30px + 10px + 25px + 60px + 10px);
    right:30px;
    cursor: pointer;
}
    /* login */
    /* register */
    .formR {
        width:450px;
        height:700px;
        background-color: rgb(18, 19, 19);
        border: 1px solid black;
        border-radius: 20px;
        padding:0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    /* warning succes image of register userName */
    .warningSuccesRU {
        width:20px;
        height:20px;
        filter: invert(14%) sepia(68%) saturate(7459%) hue-rotate(8deg) brightness(90%) contrast(120%);
        position: absolute;
        top: calc(280px + 30px + 15px + 10px);
        right:30px;
        cursor: pointer;
    }
    /* warning succes image of register email */
    .warningSuccesRE {
        width:20px;
        height:20px;
        filter: invert(14%) sepia(68%) saturate(7459%) hue-rotate(8deg) brightness(90%) contrast(120%);
        position: absolute;
        top: calc(280px + 30px + 10px + 25px + 60px + 10px);
        right:30px;
        cursor: pointer;
    }
    
     /* warning succes image of register password */
     .warningSuccesRP {
        width:20px;
        height:20px;
        filter: invert(14%) sepia(68%) saturate(7459%) hue-rotate(8deg) brightness(90%) contrast(120%);
        position: absolute;
        top: calc(280px + 30px + 10px + 25px + 60px + 40px + 50px + 40px + 30px);
        right:30px;
        cursor: pointer;
    }

    /* Age */
    .ageName {
        font-size: 16px;
        margin-right: 300px;
        margin-bottom:5px;
    }
    .ageContainer {
        width:100%;
        height:41px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* .ageContainer select {
        height:40px;
        color:rgba(0, 0, 0, 0.744);
        width:130px;
        background-color: white;
    } */
    .ageContainer select option {
        color:rgba(0, 0, 0, 0.744);
    }
    /* Age */
    /* register */
/* login /register*/




/* header */


.bodyContainer {
    width:100%;
    height:calc(100vh - 100px);
    background-color: #0e0e0e;
}
.footerContainer {
    margin: auto;
    width:100%;
    height:50px;
    background-color: rgb(107, 32, 151);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #040404;
}
.user {
    color:rgba(124, 142, 207, 0.734);
    font-size: 18px;
}
/* header */