@font-face {
  font-family: openSeas;
  src: url(./fonts/OpenSans-Medium.ttf);
}
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: openSeas;
  
}
body {
  width:100vw;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  background-color: #040404;
  overflow-x: hidden;
}
.containerFirst {
  width:100vw;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  background-color: #040404;
  overflow-x: hidden;
}
.containerChange {
  width:100vw;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}